rust_bt/data/*
!rust_bt/data/SP500_DJIA_2m_clean.csv

Cargo.lock

api_test/

rust_core/src/strategies/*
!rust_core/src/strategies/statarb_spread.rs
!rust_core/src/strategies/sma.rs
!rust_core/src/strategies/simple_strategy.rs
!rust_core/src/strategies/live_statarb_spread.rs
# Build output
target/
dist/
build/

# Dependencies
node_modules/
vendor/

.DS_Store

# IDE specific
.idea/
.vscode/

# Temporary files
tmp/
temp/
.cache/

# Environment files
.env
.env.local

# Logs
logs/
*.log

